{% extends 'basetemp.html' %}

{% block title%}
    <title>Контакты офис-магазина в Минске.</title>
{% endblock %}

{% block hero %}
    <h1 class="to-animate hero-animate-1">О нас</h1>
{% endblock %}

{% block body%}
    <div class="col-md-12 heading text-center"><h2>Офис-магазин кроватей belbeds.by на карте Минска.</h2></div>
    <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=200162373852" width="100%" height="400" frameborder="0"></iframe>
    <p>Адрес салона мебели: г.Минск, пр-т Победителей 103, офис 910. Время работы магазина: 11:00-19:00 - рабочие дни, 11:00-18:00 - сб. Задать интересующие вас вопросы, вызвать дизайнера, заказать кровать можно ежедневно с 9:00 до 21:00 по телефону: <a href="tel:+375445336661">+375 44 533 66 61</a> (Velcom).</p>
{% endblock %}
