{% extends 'base.html' %}

{% block title%}
<title>Контакты офис-магазина в Минске.</title>

{% endblock %}

{% block body%}
    <h1 class="block-title text-center">Офис-магазин кроватей belbeds.by на карте Минска.</h1>
    <p class="lead"></p>
    <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=200162373852" width="560" height="400" frameborder="0"></iframe>
    <p class="lead">Адрес салона мебели: г.Минск, пр-т Победителей 103, офис 910. Время работы магазина: 11:00-19:00 - рабочие дни, 11:00-18:00 - сб. Задать интересующие вас вопросы, вызвать дизайнера, заказать кровать можно ежедневно с 9:00 до 21:00 по телефону<br>
    <a href="tel:+375445336661">+375 44 533 66 61</a> (Velcom).</p>
{% endblock %}
