{% extends 'basetemp.html' %}

{% block title%}
<title>{{product.title}}</title>
{% endblock %}

{% block body%}
<div class="content-box animate-box">
    <p><img class="img-responsive" src="{{ url_for('static', filename=product.image) }}" alt="{{ product.title }}"></p>
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }} Чтобы заказать {{ product.title }} из экокожи и массива дерева, либо задать вопросы, звоните по телефонам: <a href="tel:+375445336661" class="">+375 44 533 66 61</a> (Velcom).</p>
    <h3>Цена в зависимости от типа кровати (ширины спального места</h3>
    <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                      <td>Односпальная</td>
                      <td>Полуторная</td>
                      <td>Двуспальная</td>
                    </tr>
                    <tr>
                      <td>800 - 1100</td>
                      <td>1200 - 1400</td>
                      <td>1500 - 2000</td>
                    </tr>
                    <tr>
                      <td>{{ product.price - 100 }} руб.</td>
                      <td>{{ product.price - 50 }} руб.</td>
                      <td>{{ product.price }} руб.</td>
                    </tr>
                </tbody>
            </table><br>
    <h3>Дополнительная информация о кровати</h3>
    <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                      <td>Высота основания:</td>
                      <td>350мм - 1000мм</td>
                    </tr>
                    <tr>
                      <td>Высота спинки:</td>
                      <td>1000мм - 2500мм</td>
                    </tr>
                    <tr>
                      <td>Ширина борта:</td>
                      <td>50мм - 200мм</td>
                    </tr>
                    <tr>
                        <td>Материал:</td>
                        <td>Экокожа, текстиль, массив сосны</td>
                    </tr>
                    <tr>
                      <td>Цвет:</td>
                      <td>более 1000 вариантов цветового оформления на Ваш выбор</td>
                    </tr>
                    <tr>
                        <td>Дополнительная комплектация:</td>
                        <td>Ортопедическое основание, шуфляда для постельного белья, тумбочки, комод</td>
                    </tr>
                    <tr>
                        <td>Доставка и сборка:</td>
                        <td>Бесплатно</td>
                    </tr>
                    <tr>
                        <td>Наличие:</td>
                        <td>7 дней под заказ</td>
                    </tr>
                    <tr>
                      <td>Гарантия:</td>
                      <td>1 год</td>
                    </tr>
                    <tr>
                      <td>Заказ:</td>
                      <td>Вызов дизайнера на дом - бесплатно. Либо Вы можете подъехать к нам в офис</td>
                    </tr>
                </tbody>
            </table><br>
    <h3>Размер спального места</h3>
    <p>Тип кровати определяется шириной спального места. Стандартная ширина для односпальной кровати составляет 900 мм, для полуторной 1400 мм, для двуспальной 1600 мм. Однако, кровать следует заказывать тех размеров, которые для Вас наиболее комфортны. Мы предлагаем по одинаковой цене односпальные кровати шириной от 800 до 1100 мм, полуторные кровати шириной от 1200 до 1400 мм, двуспальные кровати шириной 1500 до 2000 мм. Стандартная длина спального места составляет 2000 мм, мы предлагаем кровати с длиной от 1800 до 2200 мм. Кроме того, Вы можете заказать у нас кровать абсолютно любого размера.</p>
    <table class="table table-striped table-sm">
            <tbody>
              <tr>
                <td>Односпальная</td>
                <td>Полуторная</td>
                <td>Двуспальная</td>
              </tr>
              <tr>
                <td>800 - 1100</td>
                <td>1200 - 1400</td>
                <td>1500 - 2000</td>
              </tr>
              <tr>
                <td>1800 - 2200</td>
                <td>1800 - 2200</td>
                <td>1800 - 2200</td>
              </tr>
                <tr>
                  <td colspan="3">Возможны любые размеры по Вашему пожеланию</td>
                </tr>
              </tbody>
          </table>
    <p>Размер спального места кровати может быть абсолютно любым. Ширина спального места представлена выше, длина может быть 1800..2200 мм. Размер кровати – это размер ее спального места, то есть размер матраса. Каждая кровать по габаритным размерам будет больше размера ее спального места на ширину бортов со всех сторон кровати.</p>
    <h3>Дополнительная комплектация для кровати {{ product.title }}</h3>
    <p>Кровать обычно комплектуется ортопедическим основанием либо ортопедическим основанием с подъемным механизмом. Также для хранения полезных вещей можно заказать прикроватные тумбочки, выдвижные шуфляды для постельного белья, комод. Ортопедическое основание с подъемным механизмом и выдвижные шуфляды позволяют грамотно организовать пространство в спальне, используя свободное пространство под кроватью.</p>
    <table class="table table-striped table-sm">
        <tbody>
            <tr>
              <td>Ортопедическое основание</td>
              <td>Ортопедическое основание с подъемным механизмом</td>
              <td>Выдвижная шуфляда</td>
            </tr>
            <tr>
              <td>208 руб.</td>
              <td>312 руб.</td>
              <td>247 руб.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}