{% extends 'basetemp.html' %}

{% block title%}
<title>Качественные односпальные, полуторные, и двуспальные кровати в Минске.</title>
{% endblock %}

{% block hero %}
    <h1 class="to-animate hero-animate-1">Качественные кровати из массива, экокожи и текстиля</h1>
{% endblock %}

{% block body%}
    <div class="content-box animate-box">

        <h2>Каталог кроватей из массива сосны, экокожи или текстиля.</h2>


        {% for el in products %}
            <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12 text-center fh5co-work-item">
                <a href="{{ url_for('card', id=el.id) }}">
                    <figure class="figure-responsive"><img class="img-responsive" src="{{ url_for('static', filename=el.image) }}" alt="{{ el.title }}"/></figure>
                    <p class="fh5co-category">{{ el.title }} </p>
                    <h3 class="heading">{{ el.price }} руб.</h3>
                </a>
            </div>
        {% endfor %}


        <p style="display: inline-block">У нас на сайте Вы можете выбрать, заказать и выгодно купить двуспальную кровать из предложенного выше списка моделей. Щелкните кнопкой мыши по понравившейся модели кровати для 2-х человек, чтобы открыть ее в отдельном окне с увеличенным изображением, дополнительной информацией и актуальной стоимостью.</p>
        <p>Стандартная ширина двуспальной кровати равна 160 см (1600 мм), однако Вы можете заказать кровать совершенно любого удобного для Вас размера, мы также изготавливаем двуспальные кровати шириной 170 см (1700 мм), 180 см (1800 мм), 190 см (1900 мм), 200 см (2000 мм) и более.</p>
        <p>Как правило, длина 2-спальной кровати 200 см, но по желанию заказчика, иногда варьируется от 180 см до 220 см. Обычно заказывают у нас кровати размером 160 х 200 см и 180 х 200 см, часто мы изготавливаем кровать 200 х 200 см. Особенности конструкции, ширина и длина двуспальной кровати могут легко меняться согласно Вашим пожеланиям и предпочтениям при заказе.</p>
        <p>Для кровати из массива, обтянутой тканью или экокожей, выбор обивки производится в нашем магазине, либо по образцам дизайнера. Выбрать цвет кровати можно из огромного количества образцов экокожи и текстиля. Вариантов цвета в нашем магазине насчитывается более 1000. Мы предлагаем только самые износостойкие материалы для обивки кроватей - 50.000 циклов стирания и более.</p>
        <p>Все двуспальные кровати могут комплектоваться ортопедическим основанием - ламелями из натуральной березы под матрас на металлокаркасе либо ортопедическим основанием с подъемным механизмом. В нашем магазине Вы можете купить кровать с подъемным механизмом и ящиком для хранения полезных вещей - такая конструкция значительно сохранит место в Вашей спальне. Дополнительная комплектация двуспальной кровати может включать в себя прикроватные тумбочки, комоды и шуфляды для постельного белья.</p>

    </div>
{% endblock %}