{% extends 'base.html' %}

{% block title%}
<title>Качественные односпальные, полуторные, и двуспальные кровати в Минске.</title>
{% endblock %}

{% block body%}
    <div class="row px-3 pb-md-4 ">
       <div class="pricing-header text-center mx-auto">
           <h1 class="text-center block-title">Каталог кроватей из массива сосны, экокожи или текстиля.</h1>
       </div>
    </div>
    <div class="row">
       {% for el in products %}
        <div class="col-md-6 mb-3">
          <div class="card shadow-sm">
              <div style="width: 100%; height: 263px; overflow: hidden;" class="img-container">
                  <img class="bd-placeholder-img card-img-top"  src="{{ url_for('static', filename=el.image) }}" alt="{{ el.title }}">
              </div>
            <div class="card-body">
                <h5 class="display-6">{{ el.title }}</h5>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{ url_for('card', id=el.id) }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                  <small class="text-muted">{{ el.price }} руб</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="px-3 pb-md-4 mx-auto ">
        <p class="lead">У нас на сайте Вы можете выбрать, заказать и выгодно купить двуспальную кровать из предложенного выше списка моделей. Щелкните кнопкой мыши по понравившейся модели кровати для 2-х человек, чтобы открыть ее в отдельном окне с увеличенным изображением, дополнительной информацией и актуальной стоимостью.
        <p class="lead">Стандартная ширина двуспальной кровати равна 160 см (1600 мм), однако Вы можете заказать кровать совершенно любого удобного для Вас размера, мы также изготавливаем двуспальные кровати шириной 170 см (1700 мм), 180 см (1800 мм), 190 см (1900 мм), 200 см (2000 мм) и более.</p>
        <p class="lead">Как правило, длина 2-спальной кровати 200 см, но по желанию заказчика, иногда варьируется от 180 см до 220 см. Обычно заказывают у нас кровати размером 160 х 200 см и 180 х 200 см, часто мы изготавливаем кровать 200 х 200 см. Особенности конструкции, ширина и длина двуспальной кровати могут легко меняться согласно Вашим пожеланиям и предпочтениям при заказе.</p>
        <p class="lead">Для кровати из массива, обтянутой тканью или экокожей, выбор обивки производится в нашем магазине, либо по образцам дизайнера. Выбрать цвет кровати можно из огромного количества образцов экокожи и текстиля. Вариантов цвета в нашем магазине насчитывается более 1000. Мы предлагаем только самые износостойкие материалы для обивки кроватей - 50.000 циклов стирания и более.</p></p>
        <p class="lead">Все двуспальные кровати могут комплектоваться ортопедическим основанием - ламелями из натуральной березы под матрас на металлокаркасе либо ортопедическим основанием с подъемным механизмом. В нашем магазине Вы можете купить кровать с подъемным механизмом и ящиком для хранения полезных вещей - такая конструкция значительно сохранит место в Вашей спальне. Дополнительная комплектация двуспальной кровати может включать в себя прикроватные тумбочки, комоды и шуфляды для постельного белья.</p>
    </div>
{% endblock %}