{% extends 'basetemp.html' %}

{% block title%}
<title>Тумбочки из экокожи и текстиля.</title>
{% endblock %}

{% block hero %}
    <h1 class="to-animate hero-animate-1">Лучшие тумбочки из экокожи и текстиля</h1>
{% endblock %}

{% block body%}
    <div class="content-box animate-box">
    <h2>Каталог тумбочек обтянутых в материале от производителя.</h2>

    {% for el in cases %}
        <div class="col-md-12 text-center fh5co-work-item single-card">
            <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                <figure class="figure-responsive"><img class="img-responsive" src="{{ url_for('static', filename=el.image) }}" alt="{{ el.title }}"/></figure>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                <p class="fh5co-category">{{ el.title }} </p>
                <p class="fh5co-category">{{ el.discription }} </p>
                <h3 class="heading">{{ el.price }} руб.</h3>
            </div>
        </div>
    {% endfor %}

    <p style="display: inline-block">Прикроватная тумбочка является очень удобным дополнением к кровати. Кровать с прикроватными тумбочками с обеих сторон изголовья создают полноценную уютную спальню. В тумбочку чаще всего помещаются полезные предметы, такие как книга или мобильный телефон. Самые необходимые вещи, которые нужны возле кровати, размещаются на тумбочке.</p>
    <p>В нашем магазине мы предлагаем купить кровать с прикроватными тумбочками, изготовленными на заказ. Размеры каждой из представленных моделей тумбочек – ширина, высота и глубина – могут изменяться в зависимости от выбранной модели кровати и ее габаритов.</p>
    <p>Высота тумбочки чаще всего выбирается либо до середины матраса, либо одной высоты со спальным местом, все зависит от моделей кровати и тумбочки. Стандартной шириной тумбы является 40..50 см, глубина чаще всего варьируется от 30 до 35 см.</p>
    <p>Заказать кровать с тумбочкой либо узнать дополнительную информацию можно позвонив по телефону: <a href="tel:+375445336661">+375 44 533 66 61</a> (Velcom)</p></p>
    </div>


{% endblock %}