{% extends 'basetemp.html' %}

{% block title%}
<title>Пуфики из текстиля - цены от 300 рублей.</title>
{% endblock %}

{% block hero %}
    <h1 class="to-animate hero-animate-1">Лучшие пуфы из экокожи</h1>
{% endblock %}

{% block body%}
   <h2>Каталог пуфов из экокожи и текстиля.</h2>

   {% for el in poufs %}
        <div class="col-md-12 text-center fh5co-work-item single-card">
            <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                <figure class="figure-responsive"><img class="img-responsive" src="{{ url_for('static', filename=el.image) }}" alt="{{ el.title }}"/></figure>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
                <p class="fh5co-category">{{ el.title }} </p>
                <p class="fh5co-category">{{ el.discription }} </p>
                <h3 class="heading">{{ el.price }} руб.</h3>
            </div>
        </div>
    {% endfor %}


    <p style="display: inline-block">Мягкие пуфики, изготовленные из того же материала, что и кровать, окажутся не только красивым, но и удобным и полезным дополнением к вашему спальному гарнитуру. Согласитесь, стулья в спальне выглядят несколько инородными предметами, а вот пуфы отлично гармонируют с кроватью, дополняют собой антураж и наиболее уместны в интерьере спальной комнаты.</p>
    <p>Купить пуфик в Минске, выбрав и заказав его на нашем сайте - отличная идея! Приходите к нам в салон, чтобы убедиться в высоком качестве изделия, выбрать наиболее подходящие размеры пуфа, цвет и фактуру обивочной ткани или экокожи.</p>
    <p>Пуф многофункционален, очень удобен и практичен - его можно использовать как тумбочку, или как отдельное место для сидения. Он отлично сочетается с другой мебелью, привнося еще больше комфорта в домашнюю обстановку, например как подставка для ног, когда Вы сидите на кресле или на диване.</p>
    <p>Заказать кровать с пуфами в Минске, купить пуф отдельно, либо узнать дополнительную информацию можно позвонив по телефону: <a href="tel:+375445336661">+375 44 533 66 61</a> (Velcom)</p>
{% endblock %}